# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Dataset and checkpoints
plot_scripts/
dataset/
checkpoints/
mix_transfer
ablation/
baseline_checkpoints/
calb_checkpoints/
Li_baseline_checkpoints/
Zn_baseline_checkpoints/
redundant/
DA/
baseline_scripts1/
zn_re/
data_simple/
data_simple_evals/
de/
zn_re/
re_li/
calb_acc_top3/
zn_acc_top3/

data_simple_scripts/
calb_rnn/
DA/
na/
data_simple/
data_simple_evals/
KDE/
data_simple_scripts/
zn_re/
best_li/
best_calb/

best_zn/
best_na/
calb_re/
baseline_scripts/
performance_data/
plt_data/
f1_outs/
f2_outs/
f3_outs/
zn_random/
zn_re/
f4_outs/
f5_outs/
finetune_scripts/
random_scripts/
random/
rerun_PatchTST/
rerun_T/
rerun_HCM/
finetune_outs/
test/
test_scripts/
frozen/
RNNs/

zn_random/
rereun_HCM/

CPT/
re_P/
sen_ana/
evals/
rerun_PatchTST/
HiP/
output_path/
rerun_HCM/




evals/
rerun_PatchTST/

Li_baseline_checkpoints/
CALB_baseline_checkpoints/
Zn_baseline_checkpoints/

f2_outs/
evals/


baseline_checkpoints/
scripts/
wandb/
outs/
hugging_face_tutorial/
data_processsing_script/